@{
    ViewBag.Title = "Sbbre";
}

<!-- about section start -->
<div class="about_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="about_taital_main">
                    <div class="about_taital">Sobre Nós</div>
                    <p class="about_text">O resultado é delicioso e nutritivo quando você segue as receitas do Lucas.</p>
                    <p class="about_text">Somos uma empresa de Confeitaria que partilha suas receitas com o mundo! Nossas dicas são muito versáteis, e se adapta com facilidade muitos pratos a vários bolsos. 
                    Convidamos-lhe a experimentar nossas receitas, comente e acompanhe subscrevendo. É possível que você também se torne um grande apreciador e futuramente um membro do Receitas do Lucas!!
</p>
                </div>

                <!-- coffee section start -->
                <div class="coffee_section layout_padding">
                    <div class="container">
                        <div class="row">
                            <h1 class="coffee_taital">Nossos Parceiros</h1>
                            
                        </div>
                        <p class="about_text">Para que nossas receitas sejam TOP, nos apoiamos também a quem conhece da matéria.</p>
                    </div>
                    <div class="coffee_section_2">
                        <div id="main_slider" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-lg-3 col-md-6">
                                                <div class="coffee_img"><img src="~/Content/images/img-4.png"></div>
                                                <p>NutryBem</p>
                                               
                                            </div>
                                            <div class="col-lg-3 col-md-6">
                                                <div class="coffee_img"><img src="~/Content/images/img-2.png"></div>
                                                <p>ComFeijão</p>
                                                
                                            </div>
                                            <div class="col-lg-3 col-md-6">
                                                <div class="coffee_img"><img src="~/Content/images/img-1.png"></div>
                                                <p>Pastelaria Hilda</p>
                                               
                                            </div>
                                            <div class="col-lg-3 col-md-6">
                                                <div class="coffee_img"><img src="~/Content/images/img-3.png"></div>
                                                <p>Chá com Pão</p>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            
                        </div>
                    </div>
                </div>
                <!-- coffee section end -->
            </div>
            <div class="col-md-6">
                <div class="about_img"><img src="~/Content/images/prato1.jpg"></div>
            </div>
        </div>
    </div>
</div>
<!-- about section end -->

